<% if @warnings.present? %>
<div class="alert alert-warning fade in">
  <% @warnings.each do |warning|  %>
  <%= warning %><br>
  <% end %>
</div>
<% end %>

<%= render partial: 'admin/shared/nav' %>

<h1>Listing Family Cards</h1>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Pass ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Expiration</th>
        <th>Organization Name</th>
        <th>Language</th>
        <th>User Account</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @family_cards.each do |family_card| %>
        <tr>
          <td><%= family_card.pass_id %></td>
          <td><%= family_card.first_name %></td>
          <td><%= family_card.last_name %></td>
          <td><%= family_card.expiration.strftime("%B %d, %Y") %></td>
          <td><%= family_card.organization_name %></td>
          <td><%= family_card.language %></td>
          <td><%= family_card.user ? link_to("User Account", admin_user_path(family_card.user)) : "N/A" %></td>
          <td><%= link_to 'Show', admin_family_card_path(family_card) %></td>
          <td><%= link_to 'Edit', edit_admin_family_card_path(family_card) %></td>
          <td><%= link_to 'Destroy', admin_family_card_path(family_card), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate Kaminari.paginate_array(@family_cards).page(params[:page]), remote: true %>

<br>

<h2>Import Family Cards</h2>

<%= form_tag import_admin_family_cards_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import Family Cards" %>
<% end %>
