<% if @warnings.present? %>
<div class="alert alert-warning fade in">
  <% @warnings.each do |warning|  %>
  <%= warning %><br>
  <% end %>
</div>
<% end %>

<%= render partial: 'admin/shared/nav' %>

<h1>Listing museums</h1>
<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone Number</th>
      <th>Address</th>
      <th>Borough</th>
      <th>Website</th>
      <th>Image URL</th>
      <th>Hours</th>
      <th>Subwaylines</th>
      <th>Buslines</th>
      <th>Categories</th>
      <th>Has Wifi?</th>
      <th>Free Admission?</th>
      <th>Suggested Donation?</th>
      <th>Handicap Accessible?</th>
      <th>Hands-On Activity?</th>
      <th>Activities</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @museums.each do |museum| %>
      <tr>
        <td><%= museum.name %></td>
        <td><%= museum.phone_number %></td>
        <td><%= museum.address %></td>
        <td><%= museum.borough %></td>
        <td><%= museum.site_url %></td>
        <td><%= museum.image_url %></td>
        <td><%= museum.hours %></td>
        <td><%= museum.subway_lines %></td>
        <td><%= museum.bus_lines %></td>
        <td><%= museum.categories %></td>
        <td><%= boolean_to_human(museum.wifi) %></td>
        <td><%= boolean_to_human(museum.free_admission) %></td>
        <td><%= boolean_to_human(museum.suggested_donation) %></td>
        <td><%= boolean_to_human(museum.handicap_accessible) %></td>
        <td><%= boolean_to_human(museum.hands_on_activity) %></td>
        <td><%= museum.activity1 %></td>
        <td><%= museum.activity2 %></td>
        <td><%= museum.activity3 %></td>
        <td><%= link_to 'Show', admin_museum_path(museum) %></td>
        <td><%= link_to 'Edit', edit_admin_museum_path(museum) %></td>
        <td><%= link_to 'Destroy', admin_museum_path(museum), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Museum', new_admin_museum_path %>

<h2>Import Museums</h2>

<%= form_tag import_admin_museums_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import Museums" %>
<% end %>
