<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @museum.name %>
</p>

<p>
  <strong>Phonenumber:</strong>
  <%= @museum.phone_number %>
</p>

<p>
  <strong>Address:</strong>
  <%= @museum.address %>
</p>

<p>
  <strong>Borough:</strong>
  <%= @museum.borough %>
</p>

<p>
  <strong>Website:</strong>
  <%= @museum.site_url %>
</p>

<p>
  <strong>Image URL:</strong>
  <%= @museum.image_url %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @museum.hours %>
</p>

<p>
  <strong>Subwaylines:</strong>
  <%= @museum.subway_lines %>
</p>

<p>
  <strong>Buslines:</strong>
  <%= @museum.bus_lines %>
</p>

<p>
  <strong>Categories:</strong>
  <%= @museum.categories %>
</p>

<p>
  <strong>Wifi?</strong>
  <%= boolean_to_human(@museum.wifi) %>
</p>

<p>
  <strong>Free Admission?</strong>
  <%= boolean_to_human(@museum.free_admission) %>
</p>

<p>
  <strong>Suggested Donation?</strong>
  <%= boolean_to_human(@museum.suggested_donation) %>
</p>

<p>
  <strong>Handicap Accessible?</strong>
  <%= boolean_to_human(@museum.handicap_accessible) %>
</p>

<p>
  <strong>Hands-On Activity?</strong>
  <%= boolean_to_human(@museum.hands_on_activity) %>
</p>

<p>
  <strong>Activities</strong>
  <ul>
    <% @museum.activities.each do   |activity| %>
      <%= render partial: 'activity', locals: {activity: activity} %>
    <% end %>
  </ul>
  <%= link_to 'New', new_admin_museum_activity_path(@museum) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @museum.description %>
</p>


<%= link_to 'Edit', edit_admin_museum_path(@museum) %> |
<%= link_to 'Back', admin_museums_path %>
