- @act = @one_time_activity
- @start = Activity.format_for_timepicker(@act.start_time) if @act.start_time.present?
- @end = Activity.format_for_timepicker(@act.end_time) if @act.end_time.present?

= semantic_form_for [:admin, @one_time_activity] do |f|
  = f.semantic_errors *f.object.errors.keys

  = f.inputs do
    = f.input :name
    = f.input :description
    = f.input :date, as: :string, input_html: { class: "datepicker" }
    = f.input :start_time, as: :time_picker, input_html: { value: @start }
    = f.input :end_time, as: :time_picker, input_html: { value: @end }
    = f.input :featured, as: :radio
    = f.input :museum, as: :select, collection: Museum.asc(:name)

  = f.actions
