<% if @warnings.present? %>
<div class="alert alert-warning fade in">
  <% @warnings.each do |warning|  %>
  <%= warning %><br>
  <% end %>
</div>
<% end %>

<%= render partial: 'admin/shared/nav' %>

<h1>Activities at <%= @museum.name %></h1>

<h3>Recurring Activities</h3>
<%= render partial: 'recurring_table', locals: { activities: @activities.recurring } %>

<h3>One Time Activities</h3>
<%= render partial: 'one_time_table', locals: { activities: @activities.one_time, museum: @museum } %>

<br>

<%= link_to 'New One Time Activity', new_admin_museum_one_time_activity_path(@museum) %>
<%= " | " %>
<%= link_to 'New Recurring Activity', new_admin_museum_recurring_activity_path(@museum) %>