<h1><%= @activity.name %></h1>
<p><%= @activity.description %></p>
<p><%= @activity.date.strftime("%A, %B %e, %Y") %></p>
<p><%= @activity.start_time %> - <%= @activity.end_time %></p>

<br/>
<p>
  <%= link_to 'Go back to all activities for museum', admin_museum_one_time_activities_path(@museum, format: 'html') %>
</p>
<p>
  <%= link_to 'Go back to museum', admin_museum_path(@museum, format: 'html') %>
</p>