<%= simple_form_for(@museum, html: {class: 'form-vertical' }) do |f| %>
  <% if @museum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@museum.errors.count, "error") %> prohibited this museum from being saved:</h2>

      <ul>
      <% @museum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name %>
  <%= f.input :phoneNumber %>
  <%= f.input :address %>
  <%= f.input :borough, collection: ["Brooklyn", "Bronx", "Manhattan", "Queens", "Staten Island"], prompt: "Select a Borough" %>
  <%= f.input :siteUrl %>
  <%= f.input :imageUrl %>

  <div class="field">
    <%= label_tag :hours_1 %><br>
    <%= text_field_tag "museum[hours][]", @museum.hours[0] %>
  </div>
  <div class="field">
    <%= label_tag :hours_2 %><br>
    <%= text_field_tag "museum[hours][]", @museum.hours[1] %>
  </div>
  <div class="field">
    <%= label_tag :hours_3 %><br>
    <%= text_field_tag "museum[hours][]", @museum.hours[2] %>
  </div>
  <div class="field">
    <%= label_tag :hours_4 %><br>
    <%= text_field_tag "museum[hours][]", @museum.hours[3] %>
  </div>

  <%= label_tag "Subway Lines" %>
  <div class="field">
    <% Museum::SUBWAY_LINES.each do |line| %>
      <%= line %>
      <%= check_box_tag "museum[subwayLines][]", line,
       @museum.subwayLines.include?(line) ? true : false,
        include_hidden: false %>
    <% end %>
  </div>

  <%= f.input :busLines %>

  <%= label_tag "Categories" %>
  <div class="field">
    <% Museum::CATEGORIES.each do |category| %>
      <%= category %>
      <%= check_box_tag "museum[categories][]", category,
       @museum.categories.include?(category) ? true : false,
        include_hidden: false %>
    <% end %>
  </div>

<div class="field">
    <%= f.label "Wifi" %> <br />
    <%= f.check_box :wifi %> <br />
</div>

<div class="field">
    <%= f.label "Handicap Accessible" %> <br />
    <%= f.check_box :handicapAccessible %> <br />
</div>

<div class="field">
    <%= f.label "Hands-On Activity" %> <br />
    <%= f.check_box :handsOnActivity %> <br />
</div>

 <div class="field">
    <%= f.label "Free Admission" %> <br />
    <%= f.check_box :freeAdmission %> <br />
</div>

 <div class="field">
    <%= f.label "Suggested Donaiton" %> <br />
    <%= f.check_box :suggestedDonation %> <br />
</div>

  <%= f.input :description %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
