<h1>Listing museums</h1>

<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone Number</th>
      <th>Address</th>
      <th>Borough</th>
      <th>Website</th>
      <th>Image URL</th>
      <th>Hours</th>
      <th>Subwaylines</th>
      <th>Buslines</th>
      <th>Categories</th>
      <th>Has Wifi?</th>
      <th>Free Admission?</th>
      <th>Suggested Donation?</th>
      <th>Handicap Accessible?</th>
      <th>Hands-On Activity?</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @museums.each do |museum| %>
      <tr>
        <td><%= museum.name %></td>
        <td><%= museum.phoneNumber %></td>
        <td><%= museum.address %></td>
        <td><%= museum.borough %></td>
        <td><%= museum.siteUrl %></td>
        <td><%= museum.imageUrl %></td>
        <td><%= museum.hours %></td>
        <td><%= museum.subwayLines %></td>
        <td><%= museum.busLines %></td>
        <td><%= museum.categories %></td>
        <td><%= boolean_to_human(museum.wifi) %></td>
        <td><%= boolean_to_human(museum.freeAdmission) %></td>
        <td><%= boolean_to_human(museum.suggestedDonation) %></td>
        <td><%= boolean_to_human(museum.handicapAccessible) %></td>
        <td><%= boolean_to_human(museum.handsOnActivity) %></td>
        <td><%= link_to 'Show', museum %></td>
        <td><%= link_to 'Edit', edit_museum_path(museum) %></td>
        <td><%= link_to 'Destroy', museum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Museum', new_museum_path %>

<h2>Import Museums<h2>

<%= form_tag import_museums_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import Museums" %>
<% end %>
